.chart {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    position: absolute;
    display: inline-block;
    left: -10px;
    top: -10px;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.rect {
    stroke: transparent;
    transition: stroke ease-in .3s, opacity ease-in .3s; 
}

.rect:hover {
    stroke: white;
    opacity: 0.7;
}

