
/* @media (max-width: 600px) {
    #details {
        position: relative;
        width: 100%;
    }
} */

.globalStatsRow{
    display: flex;
    justify-content: space-between;
}

.chartCountry {
    text-align: center;
    color: white;
}

.colMargin {
    margin: 16px 0;
}

