.tooltip {	
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  left: -10px;
  top: -10px;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }

  .grid text{
    display: none;
  }

  .chart {
    padding: 8px;
  }

  .circle{
    r: 4px;
    transition: r .3s;
  }

  .circle:hover {
    cursor: pointer;
    stroke: white;
    r: 8.5px;
  }

